@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

body {
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
	background: url('./img/livingroom.jpg') no-repeat;
	background-color: lightblue;
	font-family: 'Berkshire Swash', cursive;
	font-size: 60px;
	cursor: default;
}

button a {
	font-family: 'Berkshire Swash', cursive;
}

#volume {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  color: white;
  text-decoration: none;
  width: 40px;
}

.qwerty {
	width: 5em;
	height: 5em;
	background: url('./img/pusheen.png');
	background-size: contain;
	margin: .5em 0 0 1em;
	position: absolute;
/*	animation: 10s move linear forwards;
*/}

.qwerty.stand {
	background: url('./img/standingpusheen.png') no-repeat;
	background-size: 60%;
	margin: .5em 0 0 1em;
}

.p {
	font-size: .3em;
	text-align: center;
	padding: 15px;
	border-radius: 30%;
  background: white;
	display: inline-block;
	float: left;
}
@keyframes move {
	0% {
		left: 50px;
		top: 480px;
	}
	100% {
		left: 500px;
/*		transform: rotateY(180deg);
*/	}
/*	100% {
		left: 50px;
		top: 480px;
	}*/

}
@media only screen and (min-width: 400px) and (min-height: 150px) {
	.title {
		margin: 2em;
	}
	.buttons {
	text-align: center;
	}	
	.active-scene {
	text-align: center;
	margin-top: 2em;
	margin-left: .2em;
	}
	.qwerty {
		top: 540px;
		left: 5px;
	}
	.qwerty.stand {
		top: 590px;
		left: 45px;
	}
	.p {
		margin: 1em;
		font-size: .5em;
	}
	body {
		background-size: 520px 1000px;
	}
	button{
		margin: 0 auto;
		border-radius: 30%;
		border: none;
		background: white;
		margin: 1em 0 0 1em;
	}
	h1 {
		font-size: .75em;
		line-height: 1;
		margin-top: 10px;
	}
	h2 {
		font-size: .5em;
		line-height: 1;
	}
	h3 {
		font-size: .55em
	}
	p {
		font-size: .5em;
		margin: 0;
	}
	button a {
		font-size: 1.2em;
		text-decoration: none;
	}
	button p {
		color: red;
		font-size: 10em;
	}
	button {
		width: 8em;
		height: 3em;
	}
}

@media only screen and (min-width: 550px) {
	body {
		background-size:contain;
		background-size: 600px 1000px;
  }
	h1 {
		font-size: .75em;
		line-height: 1;
		margin-top: 10px;
	}
	h2 {
		font-size: .45em;
		line-height: 1;
	}
	h3 {
		font-size: .65em
	}
	p {
		font-size: .6em;
	}
/*	.p {
		font-size: .6em;
	}*/
	button {
		width: 10em;
		height: 3em;
	}
	button a {
		font-size: 1.8em;
	}
}

@media only screen and (min-width: 650px) {
	body {
		background-size: 700px 1000px;
	}
	h1 {
		font-size: 1em;
		line-height: 1;
		margin-top: 10px;
	}
	h2 {
		font-size: .60em;
		line-height: 1;
	}
	h3 {
		font-size: .75em
	}
	p {
		font-size: .7em;
	}
/*	.p {
		font-size: .7em;
	}*/
	button {
		width: 15em;
		height: 4em;
	}
}

@media only screen and (min-width: 750px) {
	body {
		background-size: 800px 1000px;
  }
	h1 {
		font-size: 1.2em;
		line-height: 1;
		margin-top: 10px;
	}
	h2 {
		font-size: .85em;
		line-height: 1;
	}
	h3 {
		font-size: .85em
	}
	p {
		font-size: .8em;
	}
	.p {
		margin: 2em;
	}
	button {
		width: 20em;
		height: 5em;
	}
	button a {
		font-size: 2em;
	}
}

@media only screen and (min-width: 850px) {
	body {
		background-size: 900px 1000px;
	}
	h1 {
		font-size: 1.5em;
		line-height: 1;
		margin-top: 10px;
	}
	h2 {
		font-size: 1em;
		line-height: 1;
	}
	h3 {
		font-size: .95em
	}
	p {
		font-size: .9em;
	}
	button {
		width: 25em;
		height: 5em;
	}
}

@media only screen and (min-width: 950px) {
	body {
		background-size: 1440px 1000px;
  }
	h1 {
		font-size: 1.6em;
		line-height: 1;
		margin-top: 10px;
	}
	h2 {
		font-size: 1.25em;
		line-height: 1;
	}
	h3 {
		font-size: 1.3em
	}
	p {
		font-size: 1em;
	}
	button a {
		font-size: 2.5em;
	}
	.qwerty {
		top: 550px;
		left: 50px;
	}
	.qwerty.stand {
		top: 590px;
		left: 90px;
	}
	.p {
		margin: 3em 0 0 10em;

	}
}
@media only screen and (min-width: 1200px) {
	body {
		background-size: 100%;
  }
}